$BNAblue: rgb(0 92 178);
$BNAshadowBlue: rgb(0, 66, 127);
$BNAlightBlue: rgb(69 143 180);

@font-face {
    font-family: 'KievitOT';
    src: url('../../fonts/KievitOT-Regular.otf') format('truetype');
    font-style: normal;
    font-weight: normal;
}

*{
    font-family: "KievitOT";
}

.logo{
    position: absolute;
    top: 3%;
    left: 3%;
    width: 25%;
    margin: 0;
}

#questionNum{
    top: 3%;
    right: 3%;
    margin: 0;
    position: absolute;
    background-color: rgb(29, 171, 223);
    color: white;
    padding: 1% 2%;
    border-radius: 100px;
    width: fit-content;
    font-size: 40px;
}

.question-container{
    display:flex;
    width: 80%;
    height: 200px;
    background-color: $BNAblue;
    box-shadow: inset 0 -10px 0  $BNAshadowBlue;
    border-radius: 20px;
    margin-bottom: 100px;
    margin-top: 150px;
    justify-content: center;
    align-items: center;

    #question{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: white;
        border-radius: 20px;
        width: 97%;
        height: 160px;
        text-align: center;
        margin-bottom: 10px;
        font-size: 40px;
        color: $BNAblue;
        font-weight: bold;
    }
}




.options-container{
    display: flex;
    width: 80%;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: end;
    margin: 0 auto;

    button{
        background-color: $BNAblue;
        border-style: none;
        height: 80px;
        font-size: 30px;
        flex-basis: 45%;
        margin-bottom: 10%;
        border-radius: 20px;
        box-shadow: inset 0 -10px 0  $BNAshadowBlue;
        color: white;
    }

    button:active{
        box-shadow: inset 0 -13px 0  $BNAblue;
        height: 70px;
    }
}