@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

$nacion-color : #075CB9;

body{
    margin: 0;
    background-color: $nacion-color;
    font-family: 'Montserrat', sans-serif;
}
.App{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    h1{
        color: white;
    }
}
